@tekab-dev-team:registry=https://gitlab.com/api/v4/projects/43539082/packages/npm/
//gitlab.com/api/v4/projects/43539082/packages/npm/:_authToken=z7HkcjTmiZhzPt1qtJoU # prisma-CRUD-generator: https://gitlab.com/tekab-dev-team/prisma-CRUD-generator
