//
// Required Label
//

.required {
  &:after {
    content: "*";
    position: relative;
    font-size: inherit;
    color: $danger-500;
    padding-left: 0.25rem;
    font-weight: bold;
  }
}

.nav-form {
  background: white;
  border-radius: 30px;
  align-items: center;
}

@media (max-width: 768px) {
  .nav-form {
    padding-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .nav-form {
    width: 70% !important;
  }
}

@media (max-width: 768px) {
  .nav-form {
    width: 100% !important;
  }
}
.content-form {
  padding-top: 75px !important;
  background: white;
  border-radius: 30px;
  margin-left: 40px;
}

@media (max-width: 768px) {
  .content-form {
    margin: 20px 0 0 0 !important ;
  }
}
@media (max-width: 992px) {
  .content-form {
    padding: 40px 40px 20px 40px !important;
  }
}

.modal-form-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.2);
  outline: 0;
}
